<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Trailer Scrape</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon-192x192.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon-192x192.png">
    <link rel="icon" href="/icon-192x192.png" type="image/svg+xml">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <%= stylesheet_link_tag "show/styles.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <%= yield %>
</body>
</html>
